
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  
    <div class="main-container">
        <div class="sidebar">
            <i class="fa fa-home" aria-hidden="true"></i>
            <i class='fa fa-tasks'></i>
            <i class='fa fa-th-large'></i>
            <i class="fa fa-calendar"></i>
            <i class='fa fa-align-left'></i>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Main Content</h1>
            <p>This is the main content area. The sidebar extends over the header and footer.</p>
        </div>
    </div>


