
    @section Scripts {
        <script src="~/task/js/profile.js"></script>
        <script src="~/js/combined_front.min166b.js"></script>
        <script src="~/js/flatpickr.min166b.js"></script>
        <script src="~/js/frontpage166b.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
    }
    <link href="~/css/ace.css" rel="stylesheet" />
    <link href="~/css/style166b.css" rel="stylesheet" />
    <script>
        var is_frontpage = 1;
        var front_b = 1;
    </script>
    <div class="whiteout"></div>
    <div class="listViewPopup animatedPopup"></div>
    <div class="kanbanViewPopup animatedPopup"></div>
    <div id="alert_container" style="display:none; position:fixed; bottom:-5px; left:50%; margin-left:-215px; padding:20px 20px 5px 90px; overflow:auto; z-index:999999; width:350px; background:#991a1a url(../cdn.freedcamp.com/system/images/error.png) no-repeat 20px center; color:#fff; border:1px solid #881414; box-shadow: 0 0 18px 1px rgba(0,0,0,0.47), inset 0 0 0 1px rgba(255,255,255,0.6);"></div>
    <div class="lighten"></div>
    <div id="accept_cookies_banner" class="bg-neutral">
        <p class="center m0 p2 white medium text-s">
            Our website uses cookies. By continuing we assume your permission to deploy cookies.                
        </p>
    </div>
    <div id="hero">
        <div class="section_inner relative">
            <header>
                <h1 id="logo">
                    <a href="/home/index" class="logo_link" title="TaskSync - Free Effortless Collaboration for Teams">
                    <img src="~/image/_tasksync.png" style="height:70px" />
                        <span>TaskSync</span>
                    </a>
                </h1>
                <ul class="header_nav">
                    <li class="login fkit_dropdown dropdown-single" data-dropdown-position-content="center top+20" data-dropdown-position-parent="center bottom" data-dropdown-callback="dropdownToggleCallback">
                        <a href="#" class="btn btn-hover-neutral fkit_dropdown_activate">Login</a>
                        <div class="login-container dropdown-list fkit_dropdown_content" style="margin-left: -41px;margin-top: 58px;">
                            <div class="close_wrap">
                                <svg class="login_logo">
                                    <use width="124" height="32" xlink:href="#logo" />
                                </svg>
                                <div class="fkit_dropdown_close btn btn-default">Close</div>
                            </div>
                            <form id="login_form" onsubmit="return Login()" class="fkit_form" method="post" action="https://freedcamp.com/login">
                                <fieldset>
                                    <div class="group group_block">
                                        <input id="login_username" type="email" placeholder="Email" name="Email" value=""
                                               data-validate="required" data-validation-message="Email is required.">
                                    </div>
                                    <div class="group group_block">
                                        <input id="login_password" type="password" name="Password" placeholder="Password"
                                               data-validate="required" data-validation-message="Password is required."
                                               autocomplete="off">
                                    </div>
                                    <div id="login_err_message" class="login_err_message fc_hide"></div>
                                    <div class="group group_block">
                                        <input type="submit" class="btn btn-positive" value="Login">
                                    </div>
                                    <div class="group group_block keeplogin">
                                        <label for="remember_me" class="loggedin"><input type="checkbox" class="remember_me_chk" id="remember_me" name="" checked="checked"> Keep me logged in for 1 weeks</label>
                                    </div>
                                    <div class="group group_block forgot">
                                        <a id="forgot_password" href="forgot_password.html">Forgot Password?</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </li>
                    <li class="register">
                        <a href="#" class="btn go_to_signup btn-positive btn-hover-neutral">Get Started for Free</a>
                    </li>
                </ul>
            </header>
            <div id="register" class="col-6">
                <div class="animate zoomIn">
                <h2 class="section_title" style="color:#3474e2">
                        <span>The first</span><br />
                        <b>truly intelligent</b><br />
                        <span class="section_title_under">Task Management</span>
                    </h2>
                </div>
                <form class="register_form fkit_form animate" method="post" autocomplete="off">
                    <fieldset class="initial">
                        <input style="display:none">
                        <input type="password" style="display:none">
                        <div class="group email_group">
                            <div class="field email_field">
                                <input class="input email" type="email" autocomplete="off" name="email" placeholder="Email Address" value="">
                            </div>
                            <button class="start_registration btn content-center btn-positive btn-l">Start Now!</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="fader-black"></div>
        <div class="hero-image"></div>
    </div>
    <div id="companies" class="relative z2">
    <div class="section_inner relative" style="color:#3474e2">
        <h3 class="heading-s normal center"><b>Trusted by millions of users worldwide:</b></h3>
            <div class="flex items-center justify-center">
            </div>
        </div>
    </div>
    <script>
        var log_vz = "front_b";
    </script>
    <script>
        var smth_wrong_detailed_str = "Something has gone wrong. Issue: ";
        var smth_wrong_sorry_str = "We have been notified and will look into the problem. We apologize for any inconvenience.";
        var cdn_front_url = "https://cdn.freedcamp.com/frontpage/v4/";
        var yes_str = "Yes";
        var no_str = "No";
        var is_frontpage = 1;
    </script>
    <script type="text/javascript">
        gtag('event', 'abtest', { page: log_vz });
        if (is_frontpage) {
            fc.logEvent("front", log_vz + "_shown");
        }
    </script>
    <script>
        $(function () {
            fc.handle_lgt_if_needed();
            $("#dismiss_cookies_banner").click(function () {
                fc.setCookie('f_accepted_cookies', 1);
                $("#accept_cookies_banner").hide();
            });
            if (typeof fc.forbidDblClick === "function") {
                // remove typeof check after live
                fc.forbidDblClick(".nodblclick");
            }
        });
    </script>
